
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@100&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(orange,white,green);
    background-repeat: no-repeat;
    height: 600vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
ul{
    width: 50%;
    position: sticky;
    margin: 0 550px;
}
ul li{
    display: inline-block;
    padding: 15px 40px 15px;
    
}
ul li a{
    color: white;
    font-size: 22px;
    text-decoration: none;
}
ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
    /* background: greenyellow; */
    transition: 1s linear;
    border-radius: 100px 100px 100px 100px ;

}
h1{
    text-align: center;
    font-size: 60px;
}
p{
    padding: 50px;
    font-size: 20px;
    text-align: justify;
}
.banner{
    background-image: url("./1.jpg");
    background-size: 100% 100%;
    height: 600px;
    animation: mybanner;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}
@keyframes mybanner{
    25%{ background-image: url("./2.jpg");}
    50%{ background-image: url("./1.jpg");}
    75%{ background-image: url("./4.webp");}
}
section{
    margin: auto;
    width: 100%;
    min-height: 400PX;
}
.Product{
    margin: 4%;
    padding: 3px;
    width: 40%;
    display: inline-block;
    height: 350px;
    background-image: linear-gradient(orange, red, green);
    border-radius: 10px;
}
.Product img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.Product1{
    margin: 1%;
    padding: 3px;
    width: 22%;
    display: inline-block;
    height: 250px;
    /* background-image: linear-gradient(orange, red, green); */
    box-shadow: 0px 2px 7px 5px white;
    border-radius: 10px;
}
.Product1 img{
    width: 100%;
    height: 100%;
}